<template>
  <section class="box hero is-light is-bold is-hidden-mobile is-shadowless is-radiusless">
              <div class="hero-body">
                  <h1 class="title">
                    Yenbase
                  </h1>
                  <h2 class="subtitle">
                    A place for music, movie, book and game lovers.
                  </h2>
              </div>
            </section>
</template>

<script>
export default {
  name: "hero"
}
</script>
