<template>
  <section class="box content is-shadowless is-radiusless">
              <h5 class="subtitle">
                Recent tags
              </h5>
                <b-tag>Tag label</b-tag>
                <b-tag>tag label</b-tag>
                <b-tag>tag label</b-tag>
                <b-tag>tag label</b-tag>
                <b-tag>tag label</b-tag>
                <b-tag>tag label</b-tag>
                <b-tag>tag label</b-tag>
                <b-tag>tag label</b-tag>
                <b-tag>tag label</b-tag>
                <b-tag>tag label</b-tag>
            </section>
</template>

<script>
export default {
  name: "tag-cloud"
}
</script>
