<template>
  <div>
    authenticating...
  </div>
</template>

<script>
import { setToken, extractInfoFromHash } from "~/utils/auth";
import options from "~/utils/auth/options";

export default {
  layout: "lite",

  validate({ params }) {
    return !!options.providers[params.provider];
  },

  asyncData({ params }) {
    return {
      provider: params.provider
    };
  },

  mounted() {
    const { access_token } = extractInfoFromHash();
    const invalidReqUrlPath = "/auth/login?invalid_request=1";

    if (!access_token || !this.provider) {
      
      this.$router.replace({
        path: invalidReqUrlPath
      });
    } else {
      const ec_params = {
        access_token: access_token,
        provider: this.provider
      };
      // validate token
      this.$store
        .dispatch("exchange_token", ec_params)
        .then(r => {
          setToken(r.token);
          this.$router.replace({ path: "/" });
        })
        .catch(err => {
          this.$router.replace({
            path: invalidReqUrlPath
          });
        });
    }
  }
};
</script>
