<template>
  <div>
    <div class="box is-shadowless is-radiusless" v-if="post">
      <article class="media">
        <div class="media-left has-text-centered">
          <button class="button is-small is-primary is-outlined">
            <b-icon icon="chevron-up" size="is-normal"></b-icon>
          </button>
          <br>
          <span class="has-text-primary">{{ post.voteCount }}</span>
        </div>
        <div class="media-left">
          <figure class="image is-128x128">
            <img :src="post.image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <span class="is-size-4 has-text-weight-semibold">{{ post.title }} </span>
              <!-- <small v-if="post.subtitle">({{ post.subtitle }})</small> -->
              <span class="has-text-info"> [{{ post.categoryName }}]</span>
              <p v-html="post.content"></p>
              <small class="has-text-grey">
                <b-icon icon="clock" size="is-small"></b-icon>
                <timeago :since="post.timestamp"></timeago> ·
                <b-icon icon="comment-text-outline" size="is-small"></b-icon> <a href="#"> {{ post.commentCount }} comments</a>
              </small>
            </p>
            
          </div>
        </div>
      </article>
    </div>
    <div class="box is-shadowless is-radiusless" v-if="post">

      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="field">
            <p class="control">
              <textarea class="textarea" placeholder="Add a comment..."></textarea>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button class="button">Post comment</button>
            </p>
          </div>
        </div>
      </article>
      
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Barbara Middleton</strong>
              <br>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
              <br>
              <small><a>Like</a> · <a>Reply</a> · 3 hrs</small>
            </p>
          </div>

          <article class="media">
            <figure class="media-left">
              <p class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Sean Brown</strong>
                  <br>
                  Donec sollicitudin urna eget eros malesuada sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam blandit nisl a nulla sagittis, a lobortis leo feugiat.
                  <br>
                  <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
                </p>
              </div>

              <article class="media">
                Vivamus quis semper metus, non tincidunt dolor. Vivamus in mi eu lorem cursus ullamcorper sit amet nec massa.
              </article>

              <article class="media">
                Morbi vitae diam et purus tincidunt porttitor vel vitae augue. Praesent malesuada metus sed pharetra euismod. Cras tellus odio, tincidunt iaculis diam non, porta aliquet tortor.
              </article>
            </div>
          </article>

          <article class="media">
            <figure class="media-left">
              <p class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Kayli Eunice </strong>
                  <br>
                  Sed convallis scelerisque mauris, non pulvinar nunc mattis vel. Maecenas varius felis sit amet magna vestibulum euismod malesuada cursus libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus lacinia non nisl id feugiat.
                  <br>
                  <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
                </p>
              </div>
            </div>
          </article>
        </div>
      </article>
    </div>
  </div>
</template>

<script>
export default {
  name: "post-view",

  computed: {
    fetching() {
      return this.$store.state.post.detail.fetching;
    },
    post() {
      return this.$store.state.post.detail.data;
    }
  },

  asyncData({ store, route: { params: { id } } }) {
    return store.dispatch("fetchPost", { id: id });
  }
};
</script>
