<template>
  <section>
    <b-field label="Category" class="is-hidden-mobile">
      <div class="block">
        <b-radio native-value="Reboot">Reboot</b-radio>
        <b-radio native-value="Sequel">Sequel</b-radio>
        <b-radio native-value="Prequel">Prequel</b-radio>
        <!-- <b-radio native-value="Based on novel/book">Based on novel/book</b-radio>
        <b-radio native-value="Based on game">Based on game</b-radio> -->
      </div>
    </b-field>
    
    <b-field label="Category" class="is-hidden-tablet">

      <b-select placeholder="Select" expanded>
        <option value="Reboot">Reboot</option>
        <option value="Sequel">Sequel</option>
        <option value="Prequel">Prequel</option>
        <!-- <option value="Based on novel/book">Based on novel/book</option>
        <option value="Based on game">Based on game</option> -->
      </b-select>
    </b-field>

    <b-field label="Search movie">
        <b-field grouped>
          <b-input placeholder="Title" expanded></b-input>
          <p class="control">
            <button type="button" class="button is-block is-primary is-outlined is-block">Search</button>
          </p>
        </b-field>
    </b-field>

    <div class="field">
      <label class="label">Search Results
        <small> [<a href="#">search again</a>]</small>
      </label>

      <div class="box form-box result-box">
        <!-- <search-result></search-result>
        <search-result></search-result>
        <search-result></search-result>
        <search-result></search-result> -->
      </div>
    </div>

    <div class="field is-primary">
      <label class="label">Selected movie
        <small> [<a href="#">change</a>|<a href="#">search again</a>]</small>
      </label>
      <div class="box form-box result-box">
        <!-- <search-result></search-result> -->
      </div>
    </div>
    
    <br>
    
    <b-field position="is-right" grouped>
      <div class="control">
        <button class="button">Cancel</button>
      </div>
      <div class="control">
        <button class="button is-primary" disabled>Submit</button>
      </div>
    </b-field>
  </section>
</template>

<script>
import SearchResult from '../common/SearchResult'

export default {
  name: "movie-form",
  
  components: {
    SearchResult
  }
};
</script>

<style scoped>
.result-box {
  padding: 0.5rem;
}
.form-box {
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}
</style>
