<template>
  <section>
    <b-field label="Category" class="is-hidden-mobile">
      <div class="block">
        <b-radio v-for="c in categories" :key="c.id" :native-value="c.id" v-model="model.category">
          {{ c.name }}
        </b-radio>
      </div>
    </b-field>
    
    <b-field label="Category" class="is-hidden-tablet">

      <b-select placeholder="Select" v-model="model.category" expanded>
        <option v-for="c in categories" :key="c.id" :value="c.id">
          {{ c.name }}
        </option>
      </b-select>
    </b-field>

    <b-field label="Search song" v-if="!searchResults.length && !selectedSong">
      <div class="box form-box">
        <b-field>
          <b-input v-model="searchParams.song" placeholder="Song"></b-input>
        </b-field>
        <b-field>
          <b-input v-model="searchParams.artist" placeholder="Artist"></b-input>
        </b-field>
        <b-field position="is-centered" grouped>
          <p class="control">
            <button type="button" :disabled="!searchParamsReady" @click="searchSong()"
              class="button is-block is-primary is-outlined is-block">Search</button>
          </p>
        </b-field>
      </div>
    </b-field>

    <div class="field" v-if="searchResults.length && !selectedSong">
      <label class="label">Search Results
        <small> [<a href="#" @click.prevent="searchAgain()">search again</a>]</small>
      </label>

      <div class="box form-box result-box">
        <song-search-result v-for="song in searchResults" :key="song.id" :item="song"
          @clickSelect="selectSong(song)"></song-search-result>
      </div>
    </div>

    <div class="field" v-if="searchResults.length && selectedSong">
      <label class="label">Selected Song
        <small> [
          <a href="#" @click.prevent="clearSelection()">change</a>|
          <a href="#" @click.prevent="searchAgain()">search again</a>]</small>
      </label>
      <div class="box form-box result-box">
        <song-search-result :item="selectedSong" selectable="true"></song-search-result>
      </div>
    </div>
    
    <br>
    
    <b-field position="is-right" grouped>
      <div class="control">
        <button class="button">Cancel</button>
      </div>
      <div class="control">
        <button class="button is-primary"
          @click="submitSongPost($event)"
          :disabled="!validPost">
          Submit</button>
      </div>
    </b-field>
  </section>
</template>

<script>
import SongSearchResult from "../searchresult/Song";

export default {
  name: "song-form",
  props: ["categories"],

  components: {
    SongSearchResult
  },

  data() {
    let defaultCategory = "";
    if (this.categories && this.categories.length) {
      defaultCategory = this.categories[0].id;
    }

    return {
      model: {
        title: "",
        subtitle: "",
        category: defaultCategory,
        content: "",
        image: "",
        refId: 0
      },
      searchParams: {
        song: "",
        artist: ""
      },
      selectedSong: null
    };
  },

  computed: {
    searchResults() {
      return this.$store.state.post.create.songPost.searchResults;
    },
    searchParamsReady() {
      return (
        this.searchParams.song ||
        this.searchParams.artist
      );
    },

    validPost() {
      return (
        this.model.title &&
        // this.model.subtitle &&
        this.model.category &&
        this.model.refId
      );
    }
  },

  watch: {
    selectedSong: function(val) {
      if (val) {
        this.setModelData(val);
      } else {
        this.clearModelData();
      }
    }
  },

  methods: {
    selectSong(song) {
      this.selectedSong = song;
    },

    searchAgain() {
      this.$store.commit("post/CLEAR_SONG_SEARCH");
      this.selectedSong = null;
    },

    clearSelection() {
      this.selectedSong = null;
    },

    clearModelData() {
      this.model.refId = 0;
      this.model.title = "";
      this.model.subtitle = "";
      this.model.content = "";
      this.model.image = "";
    },

    setModelData(song) {
      console.log(song);
      this.model.title = song.title;
      // this.model.subtitle = [song.album_title, song.album_year]
      //   .filter(Boolean)
      //   .join(" | ");
      // this.model.content = "Artist:" + song.artist;
      this.model.subtitle = song.artist;
      this.model.image = song.image || "";
      this.model.refId = song.ref_id;
    },

    searchSong() {
      this.$store.dispatch("searchSong", {
        song: this.searchParams.song,
        artist: this.searchParams.artist
      });
    },

    submitSongPost(event) {
      event.preventDefault();

      this.$store
        .dispatch("postSongPost", {
          category: this.model.category,
          title: this.model.title,
          subtitle: this.model.subtitle,
          content: this.model.content,
          image: this.model.image,
          ref_id: this.model.refId
        })
        .then(data => {
          alert("success");
          // top.location.href = "{% url 'manage_track_requests' %}"
        })
        .catch(err => {
          console.warn("Post not submited.", err);
          alert("Post not submited. Please try again.");
        });
    }
  }
};
</script>

<style scoped>
.result-box {
  padding: 0.5rem;
}
.form-box {
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}
</style>
