<template>
  <section>
    <b-field label="Title">
      <b-input type="text"></b-input>
    </b-field>

    <b-field label="Text">
      <b-input type="textarea"></b-input>
    </b-field>

    <br>
    
    <b-field position="is-right" grouped>
      <div class="control">
        <button class="button">Cancel</button>
      </div>
      <div class="control">
        <button class="button is-primary" disabled>Submit</button>
      </div>
    </b-field>
  </section>
</template>
