<template>
  <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>Yenbase</strong> &copy; 2017. Powered by
            <a href="#">Gracenote</a> and <a href="#">TheMovieDb</a>.
          </p>
          <p>
          <nuxt-link to="/">
              <img class="image is-48x48 is-inline" src="/logo-48.png" alt="logo">
          </nuxt-link>
          </p>
        </div>
      </div>
    </footer>
</template>
