<template>
  <nav class="navbar is-primary is-transparent has-shadow" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <nuxt-link to="/" class="navbar-item">
            <img class="logo" src="/logo-48.png" alt="logo">
          </nuxt-link>

          <button class="button is-primary navbar-burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>

        <div class="navbar-menu" id="navMenu">
          <div class="navbar-start">
            <nuxt-link active-class="is-active" to="/" class="navbar-item" exact>Top</nuxt-link>
            <nuxt-link active-class="is-active" to="/new" class="navbar-item" exact>New</nuxt-link>
            <nuxt-link active-class="is-active" to="/show" class="navbar-item" exact>Show</nuxt-link>
            <nuxt-link active-class="is-active" to="/ask" class="navbar-item" exact>Ask</nuxt-link>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <p class="field" v-if="!isAuthenticated">
                <a @click="login" class="button is-small"><strong>Login</strong></a>

                <a @click="register" class="button is-small is-primary"><strong>Sign up</strong></a>
              </p>
              <p class="field" v-else>
                <a @click="logout" class="button is-small"><strong>Logout</strong></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </nav>
</template>

<script>
import { mapGetters } from "vuex";
import { unsetToken } from "~/utils/auth";

export default {
  computed: {
    ...mapGetters({
      isAuthenticated: "auth/isAuthenticated"
    })
  },

  methods: {
    login() {
      this.$router.replace({ path: "/auth/login" });
    },
    register() {
      this.$router.replace({ path: "/auth/login" });
    },
    logout() {
      unsetToken();
      this.$store.commit("auth/CLEAR_AUTHENTICATION");
      this.$router.replace({ path: "/" });
    }
  }
};
</script>
