<template>
<section>
  <b-tabs type="is-toggle" expanded>
    <b-tab-item label="Song" icon="music-note">
      <br>
      <song-form :categories="songCategories"></song-form>
    </b-tab-item>
    
    <b-tab-item label="Movie" icon="filmstrip">
      <br>
      <movie-form></movie-form>
    </b-tab-item>
    <b-tab-item label="Link" icon="link-variant">
      <br>
      <link-form></link-form>
    </b-tab-item>
    <b-tab-item label="Text" icon="text-shadow">
      <br>
      <text-form></text-form>
    </b-tab-item>
  </b-tabs>

  <b-loading :active.sync="isLoading" :canCancel="false"></b-loading>
</section>

</template>

<script>
import mapState from "vuex";

import SongForm from "./forms/Song";
import MovieForm from "./forms/Movie";
import LinkForm from "./forms/Link";
import TextForm from "./forms/Text";

export default {
  name: "new-post",
  props: ["categories"],

  components: {
    SongForm,
    MovieForm,
    LinkForm,
    TextForm
  },

  computed: {
    isLoading() {
      return this.searching || this.posting;
    },
    searching() {
      return this.$store.state.post.create.searching;
    },
    posting() {
      return this.$store.state.post.create.posting;
    },
    songCategories() {
      return this.$store.getters["category/songCategories"];
    }
  }
};
</script>

<style>
.tabs a {
  padding: 0.3em 0.6em 0.3em 0.4em;
}
.tabs .icon:first-child {
  margin-right: 0.2em;
}
</style>
