<template>
  <div class="box is-radiusless column is-4 is-offset-4">
    <section class="section has-text-centered">
      <figure>
        <img class="image is-48x48 is-inline logo" src="/logo-48.png" alt="logo">
      </figure>
      <h1 class="title is-4 has-text-primary">Login</h1>
      <!-- <h2 class="subtitle is-6">Please login to proceed.</h2> -->
      <p>
        <button class="button loginBtn loginBtn--facebook" @click="authenticate('facebook')">
          Login with Facebook
        </button>
      </p>
      <p>
        Or
      </p>
      <p>
        <button class="button loginBtn loginBtn--google">
          Login with Google
        </button>
      </p>
    </section>
  </div>
</template>

<script>
export default {
  layout: "lite",
  middleware: 'anonymous',

  methods: {
    authenticate(provider) {
      this.$store.dispatch("authenticate", provider);
    }
  }
};
</script>


<style scoped>
.image.logo {
  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #fff;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

/* Facebook */
.loginBtn--facebook {
  background-color: #4c69ba;
  background-image: linear-gradient(#4c69ba, #3b55a0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354c8c;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png")
    6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5b7bd5;
  background-image: linear-gradient(#5b7bd5, #4864b1);
}

/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #dd4b39;
}
.loginBtn--google:before {
  border-right: #bb3f30 1px solid;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png")
    6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #e74b37;
}
</style>

