<template>
  <p>
    logging out...
  </p>
</template>

<script>
import { unsetToken } from "~/utils/auth";

export default {
  layout: "lite",

  mounted() {
    unsetToken();
    this.$router.replace({ path: "/" });
  }
};
</script>

