<template>
  <div>
    
    <Navbar />
    
    <section class="section main-content">
      <div class="container">

        <div class="columns is-centered">
          
          <div class="column is-9">
            <nuxt/>
          </div>

          <!-- <div class="column" :class="{ 'is-9': fullColumn, 'is-6': !fullColumn }">
            
          </div> -->

          <!-- <div class="column is-3" v-if="!fullColumn">
            <hero />
            <tag-cloud />
          </div> -->
        </div>

      </div>
    </section>

    <FooterSection />
  </div>
</template>


<script>
import Navbar from "../components/layout/Navbar.vue";
import FooterSection from "../components/layout/Footer.vue";
import Hero from "../components/sidebar/Hero.vue";
import TagCloud from "../components/sidebar/TagCloud.vue";

export default {
  components: {
    Navbar,
    FooterSection,
    Hero,
    TagCloud
  },
  mounted() {
    this.activateMobileNavbar();
  },
  computed: {
    fullColumn() {
      return this.$store.state.option.fullColumn;
    }
  },
  methods: {
    activateMobileNavbar() {
      document.addEventListener("DOMContentLoaded", function() {
        // Get all "navbar-burger" elements
        var $navbarBurgers = Array.prototype.slice.call(
          document.querySelectorAll(".navbar-burger"),
          0
        );

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {
          // Add a click event on each of them
          $navbarBurgers.forEach(function($el) {
            $el.addEventListener("click", function() {
              // Get the target from the "data-target" attribute
              var target = $el.dataset.target;
              var $target = document.getElementById(target);

              // Toggle the class on both the "navbar-burger" and the "navbar-menu"
              $el.classList.toggle("is-active");
              $target.classList.toggle("is-active");
            });
          });
        }
      });
    }
  }
};
</script>


<style>
body {
  padding-top: 2rem;
  background-color: #f2f3f5;
}
.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  font-weight: 600;
  font-size: 0.9375rem;
}
.navbar-menu.is-active {
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>

<style scoped>
@media screen and (max-width: 1023px) {
  section.section.main-content {
    padding: 3rem 0.75rem;
  }
  section.section.main-content .column {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
</style>