<template>
  <post-list :posts="posts.data"></post-list>
</template>

<script>
import { mapState } from "vuex";
import PostList from "../components/post/List.vue";

export default {
  name: "index",
  
  components: {
    PostList
  },

  fetch({ store }) {
    return store.dispatch("loadPosts");
  },

  computed: {
    posts() {
      return this.$store.state.post.list;
    },
    nextPageParams() {
      return this.posts.data.pagination.current_page + 1;
    }
  },

  methods: {
    loadMorePosts() {
      this.$store.dispatch("loadPosts", this.nextPageParams);
    }
  }
};
</script>

<style>

</style>
