<template>

      <div class="box is-shadowless is-radiusless">
        <h2 class="title is-5">Create Post</h2>

        <new-post :categories="categories"></new-post>
      </div>

</template>

<script>
import { mapState } from "vuex";
import NewPost from "../components/new/NewPost";

export default {
  name: 'new',
  middleware: 'authenticated',

  components: {
    NewPost
  },

  fetch({ store }) {
    return Promise.all([
      store.dispatch("loadCategories")
    ]);
  },

  computed: mapState(["categories"])
};
</script>
