<template>
  <article class="media">
    <div class="media-left has-text-centered">
      <button class="button is-small is-primary is-outlined">
        <b-icon icon="chevron-up" size="is-normal"></b-icon>
      </button>
      <br>
      <span class="has-text-primary">{{ item.voteCount }}</span>
    </div>
    <div class="media-left is-hidden-mobile">
      <figure class="image is-48x48">
        <img :src="item.image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <nuxt-link :to="`/post/${item.id}`">
            <span class="is-size-6 has-text-weight-semibold">{{ item.title }} 
            </span>
          </nuxt-link>
            <small v-if="item.subtitle">({{ item.subtitle }})</small>
          <br>
          <small class="has-text-grey">
            <b-icon icon="clock" size="is-small"></b-icon>
            <timeago :since="item.timestamp"></timeago> ·
            <b-icon icon="comment-text-outline" size="is-small"></b-icon> <a class="has-text-grey" href="#"> {{ item.commentCount }} comments</a> ·
            <a href="#" class="has-text-info">{{ item.categoryName }}</a>
          </small>
        </p>
        
      </div>
    </div>
  </article>
</template>

<script>
import VueTimeago from "vue-timeago";

export default {
  name: "post-item",

  props: ["item"],

  components: {
    VueTimeago
  }
};
</script>

<style scoped>
.media {
  padding-left: 1rem;
  padding-right: 1rem;
}
</style>
