<template>
    <div class="box is-shadowless is-radiusless">
        <PostItem v-for="item in posts" :key="item.id" :id="item.id" :item="item">
        </PostItem>
    </div>
</template>

<script>
import PostItem from "./Item.vue";

export default {
  name: "post-list",
  props: ["posts"],
  
  components: {
    PostItem
  }
};
</script>

<style scoped>
.box {
  padding-left: 0;
  padding-right: 0;
}
</style>
