<template>
  <article class="media">
    <div class="media-left" v-if="item.image">
        <figure class="image is-48x48">
            <img :src="item.image" :alt="item.title">
        </figure>
    </div>
    <div class="media-content">
        <div class="content">
            <p>
              <strong>{{ item.title }}</strong>
              <small v-if="item.album">
                ({{ item.album }})
                </small>
              <br>
              <small><strong>Artist:</strong> {{ item.artist }}</small>
            </p>
        </div>
    </div>
    <div class="media-right">
      <b-tag type="is-success" v-if="selectable">Selected</b-tag>
      <button type="button" @click="select()" v-else
        class="button is-small is-warning btn-select">
          <strong>Select</strong>
      </button>
    </div>
  </article>
</template>

<script>
export default {
  name: "song-search-result",
  props: ["item", "selectable"],

  methods: {
    select() {
      this.$emit("clickSelect");
    }
  }
};
</script>


<style scoped>
.media + .media {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}
</style>
